.wrap {
    background: #ffffff;
}
.font14{
    font-size: 14px;
    line-height:25px;
}
.bold{
    font-weight: bold;
}

.nz-row-left {
    padding:10px 5px 5px 10px ;
    text-align: left;
}
.nz-row-right {
    padding:10px 5px 5px 10px;
    text-align:left;
}

//搜素框的
.search-input {
    width:384px;
    margin: 0px 0px 20px;
}

