.wrap {
    position: relative;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    background: #ffffff;
    .menu-left {
        flex: 0 1 auto
    }
    .router-body {
        flex: 1 1 auto;
    }
}
