<span class="wrap w-total" title="总计">
    <i class="pointer"></i>
    <em>{{alarm[0].count + alarm[1].count + alarm[2].count + alarm[3].count}}</em>
</span>
<span class="wrap w-1" title="紧急">
    <i class="pointer"></i>
    <em>{{alarm[0].count}}</em>
</span>
<span class="wrap w-2" title="重要">
    <i class="pointer"></i>
    <em>{{alarm[1].count}}</em>
</span>
<span class="wrap w-3" title="次要">
    <i class="pointer"></i>
    <em>{{alarm[2].count}}</em>
</span>
<span class="wrap w-4" title="提示">
    <i class="pointer"></i>
    <em>{{alarm[3].count}}</em>
</span>


