.demo-chart {
    width: 80%;
    height: 300px;
    margin: 20px auto;
}

.op-table {
    width: 100%;
    line-height: 40px;
    border: 1px solid #cccccc;
    margin: 0px;
    padding: 0px;
    font-size: 0;
    tr {
        border-bottom: 1px solid #cccccc;
        margin: 0px;
        padding: 0px;
        font-size: 0;
    }
    td, th {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
        border-top: 0px;
        border-left: 0px;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }
}
