<div >
    <nz-table #nzTable
              [nzDataSource]="data"
              [nzScroll]="{ y: 400 }"
              [nzSize]="'small'" [nzBordered]="true" [nzIsPagination]="false">
        <thead nz-thead>
        <tr>
            <th nz-th *ngFor="let item of column"><span>{{item.label}}</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let item of data">
            <td nz-td  *ngFor="let _item of column">{{item[_item.key]}}</td>
        </tr>
        </tbody>
    </nz-table>
    <div style="margin: 20px 30px;text-align: right;">
        <app-pagination [pageIndex]="pageIndex"
                        [pageSize]="pageSize"
                        [total]="total">

        </app-pagination>
    </div>
</div>
