.m-item {
    margin: 10px 30px;
    .m-title {
        text-align: right;
        line-height: 28px;
        padding-right: 10px;
    }
    .m-content {
        padding-left:24%;
    }
}

.important {
    color: #ff305c;
}
